<h2>All albums in your data base</h2>


<% @albums.each do |album| %>
<p> <b>Band <%= album.band.band_name %></b>  has album <b><%= album.album_name%></b>
</p>
	<ul>
	<% album.tracks.each do |track| %>
		<li><%= track.track_name%></li>
	<% end %>
	</ul>
<% end %>

<br>
<%= link_to "Add new band", new_band_url %>
<br>
<%= link_to "Add new album", new_album_url %>
<br>
<%= link_to "Add new track", new_track_url %>
<br>
<%= link_to "All Albums", albums_path %>
<br>
<%= link_to "All tracks", tracks_path %>
